.myslide{
    width: 100%;
    cursor: pointer;
    margin-left: 50px;
    height: 400px;
}
{
      -webkit-text-size-adjust: 100%;
}
body{
  background-color:white;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: serif;
  position: relative;
  text-align: center;
}
#logo{
  margin: 5px;
  padding-right: 10px;
}
#logo1{
  line-height: 0.3;
  padding-right: 10px;
}

footer{
  margin-top: 10px;
  position: fixed;
  padding-right: 50px;
  bottom : 0px;
  left:5px;
  right: 5px;
  font-size: x-small;
  border:none;
  background-color: whitesmoke;
  border-radius: 30px;
  text-align: right;
}
#fd{
  font-size:25px;
  padding: 10px 10px 10px 450px;
  direction : ltr;
  font-weight: bolder;
}

.menu{
  font-style:oblique;
  font-size:15px;
  padding:10px;
}
.menu:hover{
  border-spacing:30px;
  border-color:#16572f;
}

button{
  font-style: normal;
  font-weight: bolder;
  font-size:15px;
}

.navbar {
  height: 41px;
  overflow: hidden;
  font-weight: bolder;
  background-color:#cc9778;
}
.navbar a {
  float: left;
  font-size: 15px;
  color: black;
  text-align: center;
  padding: 5px 25px 5px 25px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 15px;  
  border: none;
  outline: none;
  color: black;
  padding: 5px 25px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:whitesmoke;
  border-style:solid none solid none;
  font-size: 17px;
  color: black;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: grid;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.Address , .contact ,.number1{
  overflow: hidden;
  font-weight: bolder;
  background-color:white;
  border:none;
  border-radius: 30px;
}

.left {
  left: 10;
}
.right {
  right: 7px;
}
.round img {
  margin-top:50px;
  height: 250px;
  width: 250px;
  border:none;
  border-radius: 30px;
}

.section-container {
    text-align: center;
    padding: 40px;
    margin-top: 15px;
    line-height: 22px;
    font-size: 17px;
    position: relative;
    overflow: hidden;
    word-break: break-word;
}
.section-container::before {
    content: ' ';
    width: 45px;
    height: 84px;
    position: absolute;
    left: 0;
    top: 0;
}
.section-container::after {
    content: ' ';
    width: 45px;
    height: 84px;
    position: absolute;
    right: 0;
    top: 0;
}

.form-group{
  margin-top: 5px;
  margin-bottom: 5px;
}
.submit{
  background-color: skyblue;
}
#mySidenav a {
  position: fixed;
  right: -40px;
  transition: 0.3s;
  padding: 10px;
  width: 60px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  text-align:center;
  border-radius: 10px 0 10px 10px;
}

#mySidenav a:hover {
  right: 0;
}
#fb {
  top: 200px;
  background-color: #2196F3;
}
#istgm {
  top: 260px;
  background-color: #f44336;
}
#linkedin {
  top: 320px;
  background-color: blue;
}
#wa {
  top: 380px;
  background-color: #04AA6D;
}
#call {
  top: 440px;
  background-color: #2196F3;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
  #logo
  {
    display :none;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
  #logo
  {
    display: none;
  }
  .number1{
    font-size: smaller;
  }
}
div.gallery img:hover {
  border: solid black;
  border-radius: 30px;
}

div.gallery img {
  width: 315px;
  height: 310px;
  border: none;
  border-radius: 30px;
}
* {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}